!!!
%html(lang="en-US")
  %head
    %title Facture
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
    = javascript_configuration
    = csrf_meta_tags
  %body
    = yield